[package]
name = "msg-transport"
description = "Transports for msg-rs"

version.workspace = true
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[dependencies]
msg-wire.workspace = true
msg-common.workspace = true

async-trait.workspace = true
bytes.workspace = true
futures.workspace = true
tokio.workspace = true
tokio-util.workspace = true
tracing.workspace = true
rand.workspace = true
thiserror.workspace = true

quinn.workspace = true
rustls.workspace = true
rcgen.workspace = true

[dev-dependencies]
tracing-subscriber = "0.3"
